h1 {
  text-align: center;
}

.progress-bar-container {
  border: 1px solid black;
  margin: 1rem;
  border-radius: 16px;
  overflow: hidden;
}

.progress-bar{
  color: white;
  background-color: green;
  padding: 2px;
  text-align: right;
  transition: 0.5s ease-in;
}